/build
/cheri-architecture.aux
/cheri-architecture.bbl
/cheri-architecture.bcf
/cheri-architecture.blg
/cheri-architecture.fdb_latexmk
/cheri-architecture.fls
/cheri-architecture.glg
/cheri-architecture.glo
/cheri-architecture.gls
/cheri-architecture.ist
/cheri-architecture.log
/cheri-architecture.out
/cheri-architecture.pdf
/cheri-architecture.run.xml
/cheri-architecture.toc
/fig-*.fls
/fig-*.pdf

/sail-cheri-riscv
/sail-cheri-mips
